/******* Main body *******/
body{
  font-family: serif, sans-serif, monospace;
  font-size: 95%;
  /* added new width*/
	width: 55%;
  margin: 0px auto;
	background-color: black;
}

body p {
  /* font-family: monospace, sans-serif;*/
  padding: 0 2em 0 2em;
	color: antiquewhite;
}

div.main{
  background-color: #0d0d0d;
  border-radius: 5px;
  border: 2px solid #ffffff;

	height: 40%;
  padding: 2em;
  margin: 5px;
}

div.main h2{
	color: #ffffb3
}
div.main h3{
	color: #ffffb3
}
div.main blockquote{
	color: #ffffb3
}

div.main ul{
	color: antiquewhite;
}


.yousei{
  opacity: 77%;
  position: fixed;
  z-index: 1;
  top: 10%;
  right:15px;
  padding: 1em;
  margin: auto;
  background-color: #B0002B;
}

.yousei img{
  /* messing around here */
  max-height: 200px;
}

.yousei p{
  color: black;
}

div.navi{
	float: left;
	text-align: left;
	background: #0d0d0d;
	border: 3px solid antiquewhite;

	height: 40%;
	width: 10%;

	position: fixed;
	left: 12%;
	top: 30%;
}

div.navi h3{
	font-size: 12pt;
	padding: 0 0 3px 3px;
}

/* link styling for navi thing */
a:link{
	color: antiquewhite;
	font-style: none;
	text-decoration: none;
}
a:hover{
	color: #B0002B;
	font-style: italic;
}
a:visited{
	color: antiquewhite;
}

/***********************************/

div.center{
  margin: auto;
  text-align: center;
}

/******* Header thing *******/

header{
	max-height: 10%;
	max-width: 70%;

	text-align: left;
  padding: 5px
}

header h1{
	font-size: 20pt;
	color: white;
	text-shadow: 2px 2px 4px #ffffb3;
}

/*** Here is the styling for the nav bar ****/
div.bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0d0d0d;
}

div.bar li {
  float: left;
}

div.bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.bar li a:hover:not(.active) {
  background-color: #B0002B;
}

div.bar .active {
  background-color: #8C0022;
}

/* the styles for the footer */
footer{
  /* adding for padding, text color to white and bg color */
	padding: 2em;
	color: white;
	text-align: center;
}
