/******* Main body *******/
body{
  /* background-image:url(../assets/img/bg/test.png);*/
	font-family: serif, sans-serif; /* Veranda, Helvetica, "Sans-Serif"; */
  font-size: 95%;
  /* added new width*/

	width: 55%;
  margin: 0px auto;

	background-color: #AB4B52;
}

body p {
  /* font-family: monospace, sans-serif;*/
  padding: 0 2em 0 2em;
}

div.main{
  background-color: antiquewhite;
  border-radius: 5px;
  border-color: 3px solid #384244;
	box-shadow: 5px 5px 2px black;

	height: 40%;
  padding: 2em;
  margin: 5px;
}


.yousei{
  opacity: 77%;
  position: fixed;
  z-index: 1;
  top: 10%;
  right:15px;
  padding: 1em;
  margin: auto;
  background-color: antiquewhite;
}

.yousei img{
  /* messing around here */
  max-height: 200px;
}

.yousei p{
  color: black;
}

/* navigation bar for about page */
div.navi{
	float: left;
	text-align: left;
	background: antiquewhite;
	border: 2px solid black;

	height: auto;
	width: 10%;

	position: fixed;
	left: 12%;
	top: 30%;
}

div.navi h3{
	font-size: 110%;
	padding: 0 0 3px 3px;
}

/* link styling for navi thing */
a:link{
	color: black;
	font-style: none;
	text-decoration: none;
}
a:hover{
	color: #B0002B;
	font-style: italic;
}
a:visited{
	color: #8C0022;
}

/***********************************/

div.center{
  margin: auto;
  text-align: center;
}

/******* Header thing *******/

header{
	max-height: 10%;
	max-width: 70%;

	text-align: left;
  padding: 5px
}

header h1{
	font-size: 20pt;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

/*** Here is the styling for the nav bar ****/

div.bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

div.bar li {
  float: left;
}

div.bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.bar li a:hover:not(.active) {
  background-color: #B0002B;
}

div.bar .active {
  background-color: #8C0022;
}

/* the styles for the footer */
footer{
  /* adding for padding, text color to white and bg color */
	padding: 2em;
	color: white;
	text-align: center;
}