/******* Main body *******/
body{
    /* background-image:url(../assets/img/bg/test.png);*/
	  font-family: monospace, sans-serif; /* Veranda, Helvetica, "Sans-Serif"; */
    font-size: 95%;
    /* added new width*/

		width: 55%;
    margin: 0px auto;

		background-color: #AB4B52;
}

body p {
    /* font-family: monospace, sans-serif;*/
    padding: 0 2em 0 2em;
}

div.main{
  /*background-image: url('../assets/img/textbox.png');
  background-repeat: no-repeat;*/

  background-color: antiquewhite;
  border-radius: 5px;
  border-color: 3px solid #384244;
	box-shadow: 5px 5px 2px black;

	height: 40%;
  padding: 2em;
  margin: 10px;
}


.yousei{
    opacity: 77%;
    position: fixed;
    z-index: 1;
    top: 10%;
    right:15px;
    padding: 1em;
    margin: auto;

    background-color: antiquewhite;
}

.yousei img{
  /* messing around here */
  max-height: 200px;
}

.yousei p{
    color: black;
}

/***********************************/

div.center{
    margin: auto;
    text-align: center;
}

main article{
    /* height: 400px; /* (actually breaks my current design desu!
    forced height because I want
    image to show in full */
    padding-bottom: 2em;
}
main article.lastart{
    /* horizontal lines */
    background-color: black;
    border: 3px solid #606199;
    margin: 2em 0 2em;
    overflow: auto;
}



/******* Header thing *******/

header{
		max-height: 10%;
		max-width: 70%;

		text-align: left;
    padding: 5px

}

header h1{
	font-size: 20pt;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

/*** Here is the styling for the nav bar ****/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #B0002B;
}

.active {
  background-color: #8C0022;
}



/* the styles for the footer */
footer{
    clear: both; /* clears float of aside */
    /* adding for padding, text color to white and bg color */
		position: fixed;

		bottom: 0;
		width: 50%;

		color: white;
		text-align: center;
}
